<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>


    <app-header></app-header>
    <div class="container-fluid">
        <div class="row">
            <div class="order-md-first">
                <app-sidebar></app-sidebar>
                <div class="p-4"></div>
                <div class="p-4"></div>
                <div class="p-4"></div>
                <div class="p-4"></div>
                <div class="p-4"></div>
                <div class="p-4"></div>
                

            
            </div>
            <div class="col center order-md-last">
                <div class="p-4"></div>
                <div class="p-4"></div>
                <div class="text-primary">Criteria Details Shown here</div>
                
            </div>
        </div>
      </div>
      <app-footer></app-footer>
