/* .sidebar {
    position: fixed;
    left: 0;
    bottom: 0;
    top: 0;
    z-index: 100;
    padding: 70px 0 0 10px;
    border-right: 1px solid #d3d3d3;
  }
  
  .left-sidebar {
    position: sticky;
    top:0;
    height: calc(100vh - 70px)
  }
  
  .sidebar-nav li .nav-link {
    color: #333;
    font-weight: 500;
  } */

  .wrapper {
    display: flex;
    align-items: stretch;
    perspective: 1500px;
  }
  
  #sidebar {
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    /* background:	rgb(105, 165, 218); */
    /* background: skyblue; */
    background: rgb(161, 162, 223);
    color: rgb(168, 181, 235);
  }
  
  #sidebar a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    /* color: white; */
    color: black;
    display: block;
    height: 50px;
    
  }
  
  /* Style links on mouse-over */
  
  #sidebar a:hover {
    color: #fff;
  }
  
  #sidebar a.active {
    background-color: #0275d8;
    color: white;
  }
  
  #sidebar a:hover:not(.active) {
    background-color: #0275d8;
  }
  
  #text-bold {
    font-weight: bold;
  }
  
  #left-space {
    margin-left: 45px;
  }
  
  /* nav.navbar{
      height: 100%;
      background:	rgb(105, 165, 218);
    
  } */